@keyframes ldio-iczp7kjxwwk {
0% { transform: translate(12px,80px) scale(0); }
25% { transform: translate(12px,80px) scale(0); }
50% { transform: translate(12px,80px) scale(1); }
75% { transform: translate(80px,80px) scale(1); }
100% { transform: translate(148px,80px) scale(1); }
}
@keyframes ldio-iczp7kjxwwk-r {
0% { transform: translate(148px,80px) scale(1); }
100% { transform: translate(148px,80px) scale(0); }
}
@keyframes ldio-iczp7kjxwwk-c {
0% { background: #f298f2 }
25% { background: #a2e4f5 }
50% { background: #f5e797 }
75% { background: #3defc9 }
100% { background: #f298f2 }
}
.ldio-iczp7kjxwwk div {
position: absolute;
width: 40px;
height: 40px;
border-radius: 50%;
transform: translate(80px,80px) scale(1);
background: #f298f2;
animation: ldio-iczp7kjxwwk 3.7037037037037033s infinite cubic-bezier(0,0.5,0.5,1);
}
.ldio-iczp7kjxwwk div:nth-child(1) {
background: #3defc9;
transform: translate(148px,80px) scale(1);
animation: ldio-iczp7kjxwwk-r 0.9259259259259258s infinite cubic-bezier(0,0.5,0.5,1), ldio-iczp7kjxwwk-c 3.7037037037037033s infinite step-start;
}.ldio-iczp7kjxwwk div:nth-child(2) {
animation-delay: -0.9259259259259258s;
background: #f298f2;
}.ldio-iczp7kjxwwk div:nth-child(3) {
animation-delay: -1.8518518518518516s;
background: #3defc9;
}.ldio-iczp7kjxwwk div:nth-child(4) {
animation-delay: -2.7777777777777777s;
background: #f5e797;
}.ldio-iczp7kjxwwk div:nth-child(5) {
animation-delay: -3.7037037037037033s;
background: #a2e4f5;
}
.loadingio-spinner-ellipsis-mnej2v1rmv {
width: 200px;
height: 200px;
display: inline-block;
overflow: hidden;
background: none;
}
.ldio-iczp7kjxwwk {
width: 100%;
height: 100%;
position: relative;
transform: translateZ(0) scale(1);
backface-visibility: hidden;
transform-origin: 0 0; /* see note above */
}
.ldio-iczp7kjxwwk div { box-sizing: content-box; }
/* generated by https://loading.io/ */



#footer, .navbar{
    background: linear-gradient(90deg, rgba(56,175,246,0.577468487394958) 0%, rgba(8,112,152,0.6110819327731092) 100%);
}

#main_container{
    padding: 0 0 0 0px;
    /*background-image: url('https://www.publicdomainpictures.net/pictures/320000/velka/tropfen-bunt-flussig-hintergrund-1583102937tFs.jpg');*/
    background-image: url("/img/fondobody.jpg");
    object-fit: cover;
}
.texto-claro{
    color: white;
}

.texto-oscuro{
    color:rgb(54, 160, 241);
}

.navbar a, .nav-link{
    color: rgb(238, 204, 36);
    font-weight: bold;
    font-family: 'Balsamiq Sans', cursive;
}
h1, h3 {
    /*font-family: 'Bangers', cursive;*/
    font-family: 'Luckiest Guy', cursive;
    
    font-weight: bolder;
    padding: 10px;
    
}

.parrafos, h2, h4, figcaption{
    font-family: 'Balsamiq Sans', cursive;
    
    
}
.nombres, h5, #libros_por_curso p, #libros_por_curso a {
    font-family: 'Balsamiq Sans', cursive;
    
}


#tira_de_cursos, .juegos_por_curso{
    min-height:76vh;
    background-image: url("/img/fondobody.jpg");
    object-fit: cover;
}
#detalle_curso{
    min-height:76vh;
    background-color: rgb(245, 248, 247);
}
.padre_caja_curso{
    text-align:center;
    padding: 10px;
}
.padre_cajita_curso{
    text-align:center;
    padding: 5px;
}
.cajita_curso{
    position: relative;
    margin:0px auto;
    height: 80px;
    width: 80px;
    background-color: rgb(248, 221, 113);
    border-radius: 20%;
    /*-webkit-clip-path: polygon(0% 29%, 13% 28%, 23% 25%, 26% 17%, 27% 8%, 27% 0, 44% 0%, 45% 11%, 50% 20%, 59% 20%, 61% 8%, 62% 0%, 79% 0, 79% 9%, 82% 21%, 91% 25%, 100% 26%, 100% 75%, 92% 74%, 81% 77%, 81% 89%, 81% 100%, 59% 100%, 59% 88%, 60% 78%, 52% 74%, 44% 79%, 45% 89%, 44% 100%, 24% 100%, 23% 78%, 15% 69%, 0 72%);
    clip-path: polygon(0% 29%, 13% 28%, 23% 25%, 26% 17%, 27% 8%, 27% 0, 44% 0%, 45% 11%, 50% 20%, 59% 20%, 61% 8%, 62% 0%, 79% 0, 79% 9%, 82% 21%, 91% 25%, 100% 26%, 100% 75%, 92% 74%, 81% 77%, 81% 89%, 81% 100%, 59% 100%, 59% 88%, 60% 78%, 52% 74%, 44% 79%, 45% 89%, 44% 100%, 24% 100%, 23% 78%, 15% 69%, 0 72%);*/
}
.navbar-toggler{
    background-color: rgb(248, 221, 113); 
}
.caja_curso{
    position: relative;
    margin:0px auto;
    height: 200px;
    width: 200px;
    background-color: rgb(248, 221, 113);
    border-radius: 20%;
    /*-webkit-clip-path: polygon(0% 29%, 13% 28%, 23% 25%, 26% 17%, 27% 8%, 27% 0, 44% 0%, 45% 11%, 50% 20%, 59% 20%, 61% 8%, 62% 0%, 79% 0, 79% 9%, 82% 21%, 91% 25%, 100% 26%, 100% 75%, 92% 74%, 81% 77%, 81% 89%, 81% 100%, 59% 100%, 59% 88%, 60% 78%, 52% 74%, 44% 79%, 45% 89%, 44% 100%, 24% 100%, 23% 78%, 15% 69%, 0 72%);
    clip-path: polygon(0% 29%, 13% 28%, 23% 25%, 26% 17%, 27% 8%, 27% 0, 44% 0%, 45% 11%, 50% 20%, 59% 20%, 61% 8%, 62% 0%, 79% 0, 79% 9%, 82% 21%, 91% 25%, 100% 26%, 100% 75%, 92% 74%, 81% 77%, 81% 89%, 81% 100%, 59% 100%, 59% 88%, 60% 78%, 52% 74%, 44% 79%, 45% 89%, 44% 100%, 24% 100%, 23% 78%, 15% 69%, 0 72%);*/
}

.caja_curso:hover{
    background-color: rgb(248, 113, 196);
}

.caja_curso a{
    font-family: 'Balsamiq Sans', cursive;
    font-weight: bolder;
    font-size:x-large;
    color: white;
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#recomendaciones_libros, #recomendaciones_videos, #recomendaciones_juegos{
    margin:50px auto;
    background-color: rgb(248, 221, 113);
}
#recomendaciones_juegos{
    min-height: 600px;
    border-radius: 7%;
}

#recomendaciones_libros, #recomendaciones_videos{
    min-height: 275px;
    border-radius: 7%;
}
#nosotras_stripe{
    background: rgb(250,159,246);
    background: linear-gradient(176deg, rgba(250,159,246,0.896796218487395) 0%, rgba(244,243,169,0.8463760504201681) 100%);
}



.imgRedonda {
    object-fit: cover;
    width:200px;
    height:200px;
    border-radius:100px;
    border-style: solid;
    border-color: rgb(54, 160, 241);
    border-width: 6px;
    box-shadow: -15px 11px 14px 0px rgba(0,0,0,1);
    -webkit-box-shadow: -15px 11px 14px 0px rgba(0,0,0,1);
    -moz-box-shadow: -15px 11px 14px 0px rgba(0,0,0,1);
}

.imagenes_libros {
    object-fit: cover;
    width:180px;
    height:250px;
    border-radius:5%;
    border-style: solid;
    border-color: rgb(54, 160, 241);
    border-width: 4px;
    box-shadow: -15px 11px 14px 0px rgba(0,0,0,1);
    -webkit-box-shadow: -15px 11px 14px 0px rgba(0,0,0,1);
    -moz-box-shadow: -15px 11px 14px 0px rgba(0,0,0,1);
}

.imagenes_videos {
    object-fit: cover;
    width:250px;
    height:400px;
    border-radius:5%;
    border-style: solid;
    border-color: rgb(54, 160, 241);
    border-width: 4px;
    box-shadow: -15px 11px 14px 0px rgba(0,0,0,1);
    -webkit-box-shadow: -15px 11px 14px 0px rgba(0,0,0,1);
    -moz-box-shadow: -15px 11px 14px 0px rgba(0,0,0,1);
}
.imagenes_videos:hover {
    border-color: rgb(248, 113, 196);
}

.padre_fotos{
    text-align:center;
    padding: 10px;
}

.fondo_nosotros_card{
    border-radius: 5%;
    background-image: url('/img/fondobody.jpg');
    max-width: 300px;
    position: relative;
    margin:0px auto;
    padding: 20px;
    
}
.btn_curso{
    position: relative;
    margin: 0px auto;
    background-color: rgb(248, 221, 113);
    border-radius: 1rem   ;
    font-family: 'Balsamiq Sans', cursive;
    font-size: smaller;
    color: white;
    outline: none;
    text-decoration: none;
    padding: 2px 6px;
}

.btn_curso:hover {
    background-color: rgb(248, 113, 196);
    color:white;
}

.videos{
    border-style: solid;
    border-width: 4px;
    border-color: rgb(54, 160, 241);
    box-shadow: -15px 11px 14px 0px rgba(0,0,0,1);
    -webkit-box-shadow: -15px 11px 14px 0px rgba(0,0,0,1);
    -moz-box-shadow: -15px 11px 14px 0px rgba(0,0,0,1);
}
.videos:hover{
    border-color: rgb(248, 113, 196);
}


.carousel-inner {
padding: 1em;
}
.card {
margin: 0 0.5em;
box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
border: none;
}
.carousel-control-prev,
.carousel-control-next {
background-color: #e1e1e1;
width: 6vh;
height: 6vh;
border-radius: 50%;
top: 50%;
transform: translateY(-50%);
}
@media (min-width: 768px) {
.carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
}
.carousel-inner {
    display: flex;
}
}

.card img {
    max-height: 100%;
}
@media (max-width: 767px) {
.card .img-wrapper {
    height: 17em;
}
}
iframe{
    min-height: 300px;
    width: 100%;
}





