<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.ripples/0.5.3/jquery.ripples.min.js"></script>
        <link rel="stylesheet" href="style.css">
        <script src="scripts.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>        
        <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Bangers&family=Fredoka+One&family=Luckiest+Guy&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="icon" type="image/x-icon" href="img\buhitoo_favicon.png">
        <title>COMPRENDO JUGANDO</title>

    </head>
    <body >
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>

        <div id="primera_pantalla" class="container-fluid primera_pantalla_class m-0 text-center p-4" style="background: linear-gradient(176deg, rgba(56,175,246,0.577468487394958) 0%, rgba(207,232,247,1) 57%, rgba(247,247,247,1) 100%);">
            <img src="img/buhito.png" alt="logo" style="max-height: 15em; width:auto" class="pt-4 img-fluid">
            <h1 id="titulo_neon" class="row text-center d-block display-1 p-0 m-0" style="color: rgb(238, 128, 196); line-height:80%"> <br><br> COMPRENDO JUGANDO </h1> 
            

            <div class="loadingio-spinner-ellipsis-mnej2v1rmv"><div class="ldio-iczp7kjxwwk" style="max-width: 100px; height:auto;">
                <div></div><div></div><div></div><div></div><div></div>
                </div></div>
            
        </div>
    
        <div id="main_container" class="container-fluid p-0">
            <!--NAVBAR-->
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">COMPRENDO JUGANDO</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#inicio">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="nosotros.html">Nosotros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#juegos">Juegos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#videos">Videos</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Todos los cursos
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="paginas_de_curso/primero_basico.html">1° Básico</a></li>
                                    <li><a class="dropdown-item" href="paginas_de_curso/segundo_basico.html">2° Básico</a></li>
                                    <li><a class="dropdown-item" href="paginas_de_curso/tercero_basico.html">3° Básico</a></li>
                                    <li><a class="dropdown-item" href="paginas_de_curso/cuarto_basico.html">4° Básico</a></li>
                                    <li><a class="dropdown-item" href="paginas_de_curso/quinto_basico.html">5° Básico</a></li>
                                    <li><a class="dropdown-item" href="paginas_de_curso/sexto_basico.html">6° Básico</a></li>
                                    <li><a class="dropdown-item" href="paginas_de_curso/septimo_basico.html">7° Básico</a></li>
                                    <li><a class="dropdown-item" href="paginas_de_curso/octavo_basico.html">8° Básico</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Ingresa tu búsqueda" aria-label="Search">
                            <button class="btn btn-outline-warning" type="submit">Buscar</button>
                        </form>
                    </div>
                </div>
            </nav>

            
            
            <!--cursos-->
            <div id="tira_de_cursos" class="container-fluid p-4">
                <div><!--TITULO-->
                    <h3 class="display-6 text-white">Juegos para cada curso</h3>
                </div>
                <div  class="row row-cols-1 row-cols-xs-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 row-cols-xl-8 row-cols-xxl-8">
                    <div class="col padre_caja_curso">
                        <div class="caja_curso">
                            <a class="links_cursos" href="#primero_basico">
                                <img id="primero_basico_bubble" src="URL DE IMAGEN" />
                                <div class="texto-encima"></div>
                                <div class="centrado">1° Básico</div>
                            </a>
                        </div>
                    </div>
                    <div class="col padre_caja_curso">
                        <div class="caja_curso">
                            <a class="links_cursos" href="#segundo_basico">
                                <img id="segundo_basico_bubble" src="URL DE IMAGEN"/>
                                <div class="texto-encima"></div>
                                <div class="centrado">2° Básico</div>
                            </a>
                        </div>
                    </div>
                    <div class="col padre_caja_curso">
                        <div class="caja_curso">
                            <a class="links_cursos" href="#tercero_basico">
                                <img id="tercero_basico_bubble" src="URL DE IMAGEN" />
                                <div class="texto-encima"></div>
                                <div class="centrado">3° Básico</div>
                            </a>
                        </div>
                    </div>
                    <div class="col padre_caja_curso">
                        <div class="caja_curso">
                            <a class="links_cursos" href="#cuarto_basico">
                                <img id="cuarto_basico_bubble" src="URL DE IMAGEN" />
                                <div class="texto-encima"></div>
                                <div class="centrado">4° Básico</div>
                            </a>
                        </div>
                    </div>
                    <div class="col padre_caja_curso">
                        <div class="caja_curso">
                            <a class="links_cursos" href="#quinto_basico">
                                <img id="quinto_basico_bubble" src="URL DE IMAGEN" />
                                <div class="texto-encima"></div>
                                <div class="centrado">5° Básico</div>
                            </a>
                        </div>
                    </div>
                    <div class="col padre_caja_curso">
                        <div class="caja_curso">
                            <a class="links_cursos" href="#sexto_basico">
                                <img id="sexto_basico_bubble" src="URL DE IMAGEN" />
                                <div class="texto-encima"></div>
                                <div class="centrado">6° Básico</div>
                            </a>
                        </div>
                    </div>
                    <div class="col padre_caja_curso">
                        <div class="caja_curso">
                            <a class="links_cursos" href="#septimo_basico">
                                <img id="septimo_basico_bubble" src="URL DE IMAGEN" />
                                <div class="texto-encima"></div>
                                <div class="centrado">7° Básico</div>
                            </a>
                        </div>
                    </div>
                    <div class="col padre_caja_curso">
                        <div class="caja_curso">
                            <a class="links_cursos" href="#octavo_basico">
                                <img id="octavo_basico_bubble" src="URL DE IMAGEN" />
                                <div class="texto-encima"></div>
                                <div class="centrado">8° Básico</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <!--estructura curso-->
            <div id="detalle_curso">
                <div><!--TITULO-->
                    <h3 class="display-6 texto-oscuro">Juegos para cada libro</h3>
                </div>
                <div id="libros_por_curso" class="section text-center px-2 py-0 m-0">
                    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-5 row-cols-xl-5" style="text-align:center!important; padding: 10px; display:flexbox;">
                        <div class="col  my-4" style="text-align:center!important">
                            <div style="text-align:center; padding: 10px; ">
                                <img src="img/libros/igual_a_mi_distinto_a_ti.jpeg" class="imagenes_libros" alt="...">
                                <div>
                                    <h5 class="m-4 texto-oscuro">Igual a mí, distinto a tí</h5>
                                    <p class="texto-oscuro">Francisca Solar</p>
                                    <a href="#" value="1" class="btn btn_curso">Ver juegos y videos del libro</a>
                                </div>
                            </div>
                        </div>
                        <div class="col my-4"  style="text-align:center!important">
                            <div style="text-align:center; padding: 10px; height: 375px;">
                                <img src="img/libros/julieta_estate_quieta.jpeg" class="imagenes_libros" alt="...">
                                <div>
                                    <h5 class="m-4 texto-oscuro">Julieta, estate quieta</h5>
                                    <p class="texto-oscuro">Rosemary Wells</p>
                                    <a href="#" value="2" class="btn btn_curso">Ver juegos y videos del libro</a>
                                </div>
                            </div>
                        </div>
                        <div class="col my-4" style="text-align:center!important">
                            <div style="text-align:center; padding: 10px; height: 375px;">
                                <img src="img/libros/un_perro_confundido.jpeg" class="imagenes_libros" alt="...">
                                <div>
                                    <h5 class="m-4 texto-oscuro">Un perro confundido</h5>
                                    <p class="texto-oscuro">Cecilia Beauchat</p>
                                    <a href="#" value="3" class="btn btn_curso">Ver juegos y videos del libro</a>
                                </div>
                            </div>
                        </div>
                        <div class="col my-4" style="text-align:center!important">
                            <div  style="text-align:center; padding: 10px; height: 375px;">
                                <img src="img/libros/el_gigante_egoista.jpeg" class="imagenes_libros" alt="...">
                                <div>
                                    <h5 class="m-4 texto-oscuro">El gigante egoísta</h5>
                                    <p class="texto-oscuro">Oscar Wilde</p>
                                    <a href="#" value="4" class="btn btn_curso">Ver juegos y videos del libro</a>
                                </div>
                            </div>
                        </div>
                        <div class="col my-4" style="text-align:center!important">
                            <div style="text-align:center; padding: 10px; height: 375px;">
                                <img src="img/libros/el_caleuche.jpeg" class="imagenes_libros" alt="...">
                                <div>
                                    <h5 class="m-4 texto-oscuro">El Caleuche</h5>
                                    <p class="texto-oscuro">Imactiva</p>
                                    <a href="#" value="5" class="btn btn_curso">Ver juegos y videos del libro</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="juegos_libro1_curso1 my-3" class="juegos_por_curso container-fluid m-0"><!--IGUAL A MI DISTINTO A TI-->
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2 p-2">
                        <h3 class="m-4 text-white display-4">Igual a mí, distinto a tí</h3>
                        <div class="col foto_libro_descargar text-center">
                            <a href="http://2026.holograma.cl/2/libros/2.%20Igual%20a%20mi%20Distinto%20a%20ti.pdf" value="1">
                                <figure class="figure">
                                    <img src="img/libros/igual_a_mi_distinto_a_ti.jpeg" class="figure-img img-fluid rounded imagenes_libros" alt="A generic square placeholder image with rounded corners in a figure.">
                                <figcaption class="figure-caption text-right">click para descargar</figcaption>
                                </figure>
                            </a>
                        </div>
                        <div class="col text-center videos p-0" style="height: 250px;">
                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/XKGsXRG5mTw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    

                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="card">
                            <iframe src="https://wordwall.net/es/embed/fb0b0ab717d1459697786ab0c7278d6a?themeId=21&templateId=69" width="500" height="380" frameborder="0" allowfullscreen></iframe></div>
                        </div>
                
                        <div class="carousel-item">
                            <div class="card">
                            <iframe src="https://wordwall.net/es/embed/fb0b0ab717d1459697786ab0c7278d6a?themeId=21&templateId=30" width="500" height="380" frameborder="0" allowfullscreen></iframe>            </div>
                        </div>
                
                        <div class="carousel-item">
                            <div class="card">
                            <iframe src="https://wordwall.net/es/embed/fb0b0ab717d1459697786ab0c7278d6a?themeId=1&templateId=8" width="500" height="380" frameborder="0" allowfullscreen></iframe>  </div>
                        </div>
                
                        <div class="carousel-item">
                            <div class="card">
                            <iframe src="https://wordwall.net/es/embed/fb0b0ab717d1459697786ab0c7278d6a?themeId=1&templateId=75" width="500" height="380" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                
                <div id="videos_por_curso" class="container">
                    
                </div>
                
            </div>
            
            <!--NOSOTRAS-->
            <div id="nosotras_stripe" class="row-cols-1  p-0 m-0">
                
                    <div class="row m-0" style="background-color: white;">
                        <div class="col p-0 m-0">
                            <div class="papa text-center m-2 p-4 fw-bold" >
                                <h2 class="mb-4d-inline px-4 texto-oscuro" style="font-family: 'Luckiest Guy', cursive;">Quienes somos</h2>
                                <p class="parrafos mt-4 texto-oscuro"> COMPRENDO JUGANDO Somos Génesis y Paula, alumnas de TNS en Educación Diferencial del Instituto Profesional Virginio Gómez y esta página es parte de nuestro proyecto de título.</p>                                    
                                <div data-aos="fade-up" data-aos-easing=»5s»  data-aos-delay=»500″ id="nosotrostexto" class="mt-2 row row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2 columnas_rebeldes pt-0 mt-0">
                                    <div data-aos="fade-up" data-aos-delay=»2000″ id="nikki" class="col p-4 padre_fotos">
                                        <div class="fondo_nosotros_card my-4">
                                            <img src="img\paula.jpeg" class="imgRedonda mt-4" alt="foto_genesis">
                                            <h4 class="pt-2 nombres text-white">Genesis Cuevas</h4>
                                            

                                        </div>
                                    </div>
                                    <div data-aos="fade-up" data-aos-delay=»2000″ id ="pancha" class="col p-4 padre_fotos">
                                        <div class="fondo_nosotros_card my-4">
                                            <img src="img\genesis.jpeg" class="imgRedonda mt-4" alt="foto_apula">
                                            <h4 class="pt-2 nombres text-white">Paula Romero</h4>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--NOSOTRAS-->
                
            </div><!--NOSOTRAS-->

            <!--footer-->
            <div id="footer" class="container-fluid p-4 m-0">
                <div class="row">
                    <span class="text-white">COMPRENDO JUGANDO +569 <br>  © 2021 JumpToFuture</span>
                </div>

            </div>

        </div>
            
        
        <script>
            var multipleCardCarousel = document.querySelector(
            "#carouselExampleControls"
            );
            if (window.matchMedia("(min-width: 768px)").matches) {
            var carousel = new bootstrap.Carousel(multipleCardCarousel, {
                interval: false,
            });
            var carouselWidth = $(".carousel-inner")[0].scrollWidth;
            var cardWidth = $(".carousel-item").width();
            var scrollPosition = 0;
            $("#carouselExampleControls .carousel-control-next").on("click", function () {
                if (scrollPosition < carouselWidth - cardWidth * 1) {
                scrollPosition += cardWidth;
                $("#carouselExampleControls .carousel-inner").animate(
                    { scrollLeft: scrollPosition },
                    600
                );
                }
            });
            $("#carouselExampleControls .carousel-control-prev").on("click", function () {
                if (scrollPosition > 0) {
                scrollPosition -= cardWidth;
                $("#carouselExampleControls .carousel-inner").animate(
                    { scrollLeft: scrollPosition },
                    600
                );
                }
            });
            } else {
            $(multipleCardCarousel).addClass("slide");
            }
        </script>
        <script>
            toastr.options = {
            "closeButton": true,
            "progressBar": true,
            }

            {% if messages %}
            {% for message in messages %}
                toastr.{{message.tags }}("{{ message }}")
            {% endfor %}
            {% endif %}

            {% block libreria %}
            {% endblock %} 
        </script>
    </body>
</html>